*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.env
.idea
.project
.strong-pm
.tmp
coverage
doc
node_modules
npm-debug.log
reports
src
test
.codeclimate.yml
.editorconfig
.eslintrc
.gitignore
.travis.yml
Gruntfile.es6
Gruntfile.js
